.back{



    background-image: url('images/bg_1.jpg');
	height: 150px;
	margin-top: 10px;
	margin-bottom: 60px;
	background-position: center center;
	background-size:cover;
	position: relative;
}

.c{
	width: 100%;
	height: 100%;
	background-color:#183661;
	top:0;
	left: 0;
	opacity: .7;
	z-index: 1;
}