<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>admin &mdash; page</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>   
  <div class="container text-center p-5">
    <h1 class="display-4">Site<span class="badge badge-primary">ADmin</span></h1>
</div>

<div class="container row ml-5 p-5">
  <div class="container col-4 text-right border text-center border-link">
   <strong> Site Admins</strong>
  </div>
   <div class="container col">
    <a name="" id="" class="btn btn-warning ml-4 mr-4" href="{% url 'add_home' 'admin' %}" role="button"><i class='fas fa-street-view mr-1'></i>View</a>
    

  </div>
  
</div>  

<div class="container row ml-5 p-5">
  <div class="container col-4 text-right border text-center border-link">
     <strong>Subjects</strong>
  </div>
   <div class="container col">
    <a name="" id="" class="btn btn-warning ml-4 mr-4" href="{% url 'add_home' 'subject' %}" role="button"><i class='fas fa-street-view mr-1'></i>View</a>
    

  </div>
  
</div>  


<div class="container row ml-5 p-5">
  <div class="container col-4 text-right border text-center border-link">
     <strong>Student details</strong>
  </div>
   <div class="container col">
    <a name="" id="" class="btn btn-warning ml-4 mr-4" href="{% url 'add_home' 'student' %}" role="button"><i class='fas fa-street-view mr-1'></i>View</a>
    

  </div>
  
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     </body>
</html>