{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- css link -->
  <link rel="stylesheet" type="text/css" href="{% static 'coursestyle.css' %}">
    <!-- Javascript link -->
  <script type="text/javascript" src=""></script> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- icomoon for star icons -->
    <link rel="stylesheet" href="{% static 'icomoon/style.css' %}">

    <title></title>
    <style type="text/css">
      
.course-1-item .price {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    padding: 10px 20px;
    background: #183661;
    color: #fff;
}


.course-1-item .category {
    background: #51be78;
    padding: 15px;
    color: white;
}

.course-1-item figure {
    position: relative;
}
.container .enroll a{
  color: white;
  background: #51be78;
  border-color: #51be78;
}
figure {
    margin: 0 0 1rem;
}
.course-1-item .course-1-content {
    padding: 20px 40px;
    text-align: center;
}

.course-1-item .course-1-content h2 {
    margin: 0 0 30px 0;
    font-size: 18px;
    color: #000;
}


.container a{
  color: green;
    line-height: 1.5;
    font-size: 1rem;
}
.back{
    background-image: url('images/bg_1.jpg');
  height: 150px;
  margin-top: 10px;
  margin-bottom: 60px;
  background-position: center center;
  background-size:cover;
  position: relative;
}

.c{
  width: 100%;
  height: 100%;
  background-color:#183661;
  top:0;
  left: 0;
  opacity: .7;
  z-index: 1;
}
.top a:hover{
  color: green;
}
#mainnavbar .nav-link:hover{
  color: green;
}
.s{
  background-image: url('images/hero_1.jpg');
  background-position:center;
  background-size: cover;
}
.bg{
  margin-top: 50px;
  width: 100%;
  height: 100%;
  background-color:#183661;
  top:0;
  left: 0;
  opacity: .9;
  z-index: 0;
}

.s h3{
  color: green;
}

p{
  line-height: 1.7;
    font-weight: 300;
    font-size: 1.1rem;
  color: #7697c6;
}

.bg img{
  margin-top: 80px;
  margin-bottom: 20px;
  width: 60px;
  height:60px;
}
.top img{
  width:15px;
  height: 15px;
}

label {
  color: gray;
  display: inline-block;
    margin-bottom: 0.5rem;
}





.footer{
  background-color:#183661;
}
.footer a{
    color: green;
}

.footer a:hover{
    color: white;
}


.footer h4{
    color: white;
}

    </style>

  </head>
  <body>

<div class="top py-2 bg-light" >
      <div class="container" >
        <div class="row align-items-center" >
          <div class="col-lg-9 d-none d-lg-block">
            <a href="#" class="small text-success mr-3"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span> Have a questions?</a> 
            <a href="#" class="small text-success mr-3"><span><i class="fa fa-phone-square" aria-hidden="true"></i></span> 10 20 123 456</a> 
            <a href="#" class="small text-success mr-3"><span><i class="fa fa-envelope" text-success aria-hidden="true"></i></span> info@mydomain.com</a> 
          </div>
          
        </div>
      </div>
    </div>
    

  <nav id="mainnavbar" class="sticky-top navbar navbar-expand-lg navbar-light bg-light" style="font-size: 18px;font-weight: 50px;">

  <a class="navbar-brand " href="#"><img src ="{% static 'images/logo.jpg' %}"></a>
  <button class="navbar-toggler  mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' u.user %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ">
          <a class="nav-link" href="{% url 'about' u.user %}">Our Teachers</a>
          
        
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'admission' u.user %}">Admissions</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-success font-weight-bolder" href="{% url 'course' u.user %}">Courses</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="{% url 'contact' u.user %}">Contact</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="{% url 'show' u.user %}">Learning-Page</a>
      </li>
      <li class="nav-item ">
        <button class="btn dropdown " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="h2 text-success fa fa-user-circle" style="font-weight: 30px;"></i>
        </button>
        <div class="dropdown-menu mt-1" aria-labelledby="dropdownMenuButton" style="width: 260px;margin-left: 1050px;">
          <p class="dropdown-item ml-5 pl-5"><i class="fa fa-user-circle text-dark display-4"></i></p>
          <p class="dropdown-item border-bottom text-center text-dark"><strong>{{u.name}}</strong></p>
          <p class="dropdown-item text-center border-bottom mt-2 text-dark"><strong>{{u.email}}</strong></p>
          <a class="dropdown-item text-center text-dark" href="{% url 'logout' %}"><button class="btn btn-secondary">Log-out <i class="fas fa-door"></i></button></a>
        </div>
      </li>



    </ul>

      </div>

  </nav>
  <hr>

            <div class="container mx-1 mt-2 " style="width: 100%;">
            <nav aria-label="breadcrumb w-100">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' u.user %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">course</li>
                  </ol>
            </nav>
        </div>


    <div class="courses">
        <div class="container">
          <div class="container text-center">
            <h2>{{msg}}</h2>
            
          </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="course-1-item">
                        <figure class="thumnail">
                        <a href="{% url 'course_single' u.user 'App development' %}"><img src="{% static 'images/course_1.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="price"></div>
                        <div class="category"><h5>Mobile Application</h5></div>  
                        </figure>
                        <div class="course-1-content pb-4">
                        <h2>How To Create Mobile Apps Using Ionic</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                        </div>
                        <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                        <p class="enroll"><a href="{% url 'course_single' u.user 'App development' %}" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                        </div>
                    </div>
                </div>

<div class="col-lg-4 col-md-6 mb-4">
                    <div class="course-1-item">
                        <figure class="thumnail">
                                <a href="{% url 'course_single' u.user 'web designing' %}"><img src="{% static 'images/course_2.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="price"></div>
                        <div class="category"><h5>Web Designing</h5></div>  
                        </figure>
                        <div class="course-1-content pb-4">
                        <h2>How To Create Website Using html css bootstrap and js</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                        </div>
                        <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                        <p class="enroll"><a href="{% url 'course_single' u.user 'web designing' %}" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="course-1-item">
                        <figure class="thumnail">
                                <a href="{% url 'course_single' u.user 'software engineering' %}"><img src="{% static 'images/course_3.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="price"></div>
                        <div class="category"><h5>Software Enginerring</h5></div>  
                        </figure>
                        <div class="course-1-content pb-4">
                        <h2>How To Create Software project using Software engineering tools</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            
                        </div>
                        <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                        <p class="enroll"><a href="{% url 'course_single' u.user 'software engineering' %}" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="course-1-item">
                        <figure class="thumnail">
                                <a href="{% url 'course_single' u.user 'database management system' %}"><img src="{% static 'images/course_4.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="price"></div>
                        <div class="category"><h5>DataBase Management System</h5></div>  
                        </figure>
                        <div class="course-1-content pb-4">
                        <h2>What is database management system</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                        </div>
                        <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                        <p class="enroll"><a href="{% url 'course_single' u.user 'database management system' %}" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="course-1-item">
                        <figure class="thumnail">
                                <a href="{% url 'course_single' u.user 'python' %}"><img src="{% static 'images/course_5.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="price"></div>
                        <div class="category"><h5>Python</h5></div>  
                        </figure>
                        <div class="course-1-content pb-4">
                        <h2>How To Work with python programming language</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                        </div>
                        <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                        <p class="enroll"><a href="{% url 'course_single' u.user 'python' %}" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="course-1-item">
                        <figure class="thumnail">
                                <a href="{% url 'course_single' u.user 'c' %}"><img src="{% static 'images/course_6.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="price"></div>
                        <div class="category"><h5>C Programming</h5></div>  
                        </figure>
                        <div class="course-1-content pb-4">
                        <h2>How To Create Program with C Programming language</h2>
                        <div class="rating text-center mb-3">
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            <span class="icon-star2 text-warning"></span>
                            
                            
                        </div>
                        <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                        <p class="enroll"><a href="{% url 'course_single' u.user 'c' %}" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                        </div>
                    </div>
                </div>

              </div>
            </div>
          </div>



<div class="s">
      <div class="bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span><img src="{% static 'images/graduation-cap.png' %}
                "></span>
              <h3>Our Philosphy</h3>
              <p class="mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea? Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span><img src="{% static 'images/tools.png' %}"></span>
              <h3>Academics Principle</h3>
              <p class="mb-5" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span><img src="{% static 'images/library.png' %}"></span>
              <h3>Key of Success</h3>
              <p class="mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                Dolore, amet reprehenderit.</p>
            </div>
        </div>
      </div>
      </div>
        
      </div>



<div class="footer" style="background-color: #183661;">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <p class="my-5"><img src="{% static 'images/logo.png' %}" alt="Image" class="img-fluid"></p>
            <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo minima qui dolor, iusto iure.</p>  
            <p><a href="#">Learn More</a></p>
          </div>
          <div class="col-lg-3">


          </div>
          <div class="col-lg-3">
              <h4 class="footer-heading my-5"><span><u>Our Courses</u></span></h3>
              <ul class="list-unstyled">
                  <li><a href="{% url 'course_single' u.user 'App development' %}">App development</a></li>
                  <li><a href="{% url 'course_single' u.user 'python' %}">Python</a></li>
                  <li><a href="{% url 'course_single' u.user 'software engineering' %}">S/W engineering</a></li>
                  <li><a href="{% url 'course_single' u.user 'c' %}">C programming</a></li>
                  <li><a href="{% url 'course_single' u.user 'database management system' %}">DBMS</a></li>
                  <li><a href="{% url 'course_single' u.user 'web designing' %}">Web Designing</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
              <h4 class="footer-heading my-5"><span><u>Contact</u></span></h3>
              <ul class="list-unstyled">
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">Support Community</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Share Your Story</a></li>
                  <li><a href="#">Our Supporters</a></li>
              </ul>
          </div>
        </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Javascript link -->

  </body>
</html>